<%= render partial: 'client/form/nav' %>
<%= link_to 'Back', me_path, class: "btn btn-dark me-2"%>

<div class="container">
  <% if @invites.present? %>
    <% @invites.each do |invite| %>
      <%= render partial: 'client/me/form/invite_card', locals: { invite: invite } %>
    <% end %>
  <% else %>
    <%= render partial: 'client/form/empty_list' %>
  <% end %>

</div>

<%= render partial: 'client/form/footer' %>