<section class="new-client d-grid" style="grid-auto-rows: 20vh 60vh 20vh; width: 100vw; place-items: center">

  <div class="top-nav w-100" style="place-self: start">
    <%= render partial: 'client/form/nav' %>
  </div>

  <div class="client-reg-main d-flex flex-column" style="width: 70%; height: 65vh">
    <div class="d-flex flex-row justify-content-between align-items-center border rounded-pill my-4">
      <%= link_to "Sign in", new_session_path(resource_name), class: "btn btn-outline-secondary w-50" %><br/>
      <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-dark w-50" %><br/>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "client/users/shared/error_messages", resource: resource %>

      <div class="form-group mb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "form-control" %>
      </div>

      <div class="form-group mb-2">
        <%= f.password_field :password, autocomplete: "new-password",
                             placeholder: "Password #{@minimum_password_length ? "(#{@minimum_password_length} characters minimum)" : ""}",
                             class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: :password_confirmation, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-outline-dark w-100" %>
      </div>
    <% end %>

  </div>

  <div class="bottom-nav w-100 border d-flex justify-content-center" style="place-items: center">
    <%= render partial: 'client/form/footer' %>
  </div>

</section>